
.center {
     margin-left: auto;
     margin-right: auto;
     }
.table, th, td {
     border: 1px solid black;
     border-collapse: collapse;
     }
.table.center {
     margin-left: auto;
     margin-right: auto;
     }
.subscribe {
     background-color: #FF0000;
     font-size: 95%;
     color: white;
     padding: 8px;
     border: none;
     height: 36px;
     width: 110px;
     border-radius: 2px;
     cursor: pointer;

}