.pagination {
     text-align: center;
     font-size: 20px;
}

.pagination a {
     text-decoration: none;
     padding: 8px 15px;
     color: black;
     display: inline-block;
}

.pagination a.active {
     background-color: red;
     font-weight: bold;
     border-radius: 7px;
}

.pagination a.active:hover {
     background-color: rgb(212, 0, 0);
}


.pagination a:hover:not(.active) {
     background-color: lightgray;
     border-radius: 7px;
}